<h1>tweets後台</h1>
<div class="mb-3">
    <a href="/admin/tweets">
        <button type="button" class="btn btn-primary">tweets</button>
    </a>

    <a href="/admin/users">
        <button type="button" class="btn btn-warning">Users</button>
    </a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">description</th>
      <th scope="col">user name</th>
      <th scope="col">user email</th>
      <th scope="col">created date</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each tweets}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.description}}</td>
      <td>{{this.User.name}}</td>
      <td>{{this.User.email}}</td>
      <td>{{this.createdAt}}</td>
      <td>
        <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>