<section class="mt-4" id="tweets">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container">
          {{!-- create Tweets --}}
          <form action="/tweets" method="POST">
            <div class="md-form mb-3">
              <textarea name="description" class="md-textarea form-control" rows="3" maxlength="140"
                placeholder="What's happening?"></textarea>
              <button type="submit" class="btn btn-primary badge-pill my-1 d-block mr-0 ml-auto">Tweet</button>
            </div>
          </form>
          {{!-- Tweets --}}
          {{#each tweets}}
          <div class="card my-1">
            <div class="row">
              <div class="col-auto">
                <img class="img-responsive center-block" src="{{{this.User.avatar}}}"
                  style="width: 150px; height: 150px;">
              </div>
              <div class="col p-2">
                <div class="card-block px-2">
                  <a href="/users/{{{this.User.id}}}/tweets">
                    <span class="pt-2">@{{{this.User.name}}} , {{{moment this.createdAt}}}</span>
                  </a>
                  {{!-- Reply button start --}}
                  <p>{{{this.description}}}</p>
                  <a href='/tweets/{{{this.id}}}/replies' class="mr-3 mt-3">
                    <i class="fas fa-comment-dots"></i>
                    {{{this.Replies.length}}}
                  </a>
                  {{!-- Reply button end --}}
                  {{!-- Like button start --}}
                  {{#if this.likedByUser}}
                  <form action="/tweets/{{{this.id}}}/unlike" method="POST" class="d-inline ">
                    <input type="number" name="id" value="{{{this.id}}}" class="d-none">
                    <button type="submit" class="btn text-danger btn-link p-0 mb-1">
                      <i class="fas fa-heart"></i>
                      {{{this.Likes.length}}}
                    </button>
                  </form>
                  {{else}}
                  <form action="/tweets/{{{this.id}}}/like" method="POST" class="d-inline ">
                    <input type="number" name="id" value="{{{this.id}}}" class="d-none">
                    <button type="submit" class="btn btn-link p-0 mb-1">
                      <i class="far fa-heart"></i>
                      {{{this.Likes.length}}}
                    </button>
                  </form>
                  {{/if}}
                  {{!-- Like button end --}}
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{!-- Popular Tweets --}}
      <div class="col-md-4">
        <h1>Popular</h1>
        <div class="card my-1">
          <div class="row">
            <div class="col-auto">
              <img class="img-responsive center-block" src="https://fakeimg.pl/150x150/"
                style="width: 150px; height: 150px;">
            </div>
            <div class="col p-2">
              <div class="card-block px-2">
                <a href="#">
                  <span class="pt-2">@username</span>
                </a>
                <p>still fake data Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,</p>
                <form action="/followships" method="POST">
                  <button type="submit" class="btn btn-primary">Follow</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-1">
          <div class="row">
            <div class="col-auto">
              <img class="img-responsive center-block" src="https://fakeimg.pl/150x150/"
                style="width: 150px; height: 150px;">
            </div>
            <div class="col p-2">
              <div class="card-block px-2">
                <a href="#">
                  <span class="pt-2">@username</span>
                </a>
                <p>still fake data Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,</p>
                <form action="/followships" method="POST">
                  <button type="submit" class="btn btn-primary">Follow</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>