<section class="mt-4" id="followings">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!--user profile-->
        <div class="text-center">
          <div class="mb-2">
            <img src="{{{user.avatar}}}" alt="avatar" style="height:300px;width:300px">
            <h1 class="mb-2">{{{user.name}}}</h1>
          </div>
          <p class="mb-2">{{{user.introduction}}}
          </p>
          <ul class="list-group mb-2">
            <li class="list-group-item"><a href="/users/{{{user.id}}}/tweets">Tweets {{{user.Tweets.length}}}</a></li>
            <li class="list-group-item"><a href="#">Followings
                {{{user.Followings.length}}}</a></li>
            <li class="list-group-item"><a href="/users/{{{user.id}}}/followers">Followers
                {{{user.Followers.length}}}</a></li>
            <li class="list-group-item"><a href="/users/{{{user.id}}}/likes">likes {{{user.Likes.length}}}</a></li>
          </ul>
          <!--button-->
          <div>
            {{#if isCurrentUser}}
              <button class="btn btn-outline-primary">Edit</button>
            {{else}}
              {{#if isFollowed}}
                <form action="/followships/{{{user.id}}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
              {{else}}
                <form action="/followships" method="POST">
                  <input type="number" name="id" value="{{{user.id}}}" class="d-none">
                  <button type="submit" class="btn btn-primary">Follow</button>
                </form>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="p-2">Followings</h1>
        <div class="row">
          <!--followings card-->
          {{#each user.Followings}}
            <div class="col-md-6 p-2">
              <div class="card shadow-sm">
                <div class="row">
                  <div class="col-auto">
                    <img class="img-responsive center-block" src="{{{this.avatar}}}" style="height:150px;width:150px">
                  </div>
                  <div class="col">
                    <div class="card-block">
                      <a href="#">
                        <span class="pt-2">{{{this.name}}}</span>
                      </a>
                      <p>{{{this.introduction}}}</p>
                      <!--button-->
                      {{#if this.followerHaveCurrentUser}}
                        <form action="/followships/{{{this.id}}}?_method=DELETE" method="POST" style="display: inline;">
                          <button type="submit" class="btn btn-danger mb-2">Unfollow</button>
                        </form>
                      {{else}}
                        <form action="/followships" method="POST">
                          <input type="number" name="id" value="{{{this.id}}}" class="d-none">
                          <button type="submit" class="btn btn-primary mb-2">Follow</button>
                        </form>
                      {{/if}}
                      <!--end of button-->
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          {{/each}}
          <!--end of card-->
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>