<section class="mt-4" id="user">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{!-- user profile --}}
        <div class="text-center">
          <div class="mb-2">
            <img src="{{{user.avatar}}}" alt="avatar" style="height:300px;width:300px">
            <h1 class="mb-2">{{{ user.name }}}</h1>
          </div>
          <p class="mb-2">{{{user.introduction}}}</p>
          <ul class="list-group mb-2">
            <li class="list-group-item">Tweets</li>
            <li class="list-group-item">Followings</li>
            <li class="list-group-item">Followers</li>
            <li class="list-group-item">likes</li>
          </ul>
          {{!-- button --}}
          <div class="mb-4">
            {{!-- 這邊要再寫一個 if user === currentUser 顯示 Edit Profile，否則顯示 Follow --}}
            <a href="/users/{{{user.id}}}/edit" class="btn btn-outline-primary">Edit Profile</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        {{!-- tweets card --}}
        {{#each tweets}}
          <div class="card mb-3">
            <div class="row">
              <div class="col-auto">
                <img class="img-responsive center-block" src="https://picsum.photos/id/237/200/300"
                  style="height:150px;width:150px">
              </div>
              <div class="col">
                <div class="card-block px-2">
                  <a href="#">
                    <span class="pt-2">{{../user.name}}</span>
                  </a>
                  <p>{{{this.description}}}</p>
                  <a href='#' class="mr-3">Reply({{this.Replies.length}})</a>
                  <a href='#' class="">Like(0)</a>
                </div>
              </div>
              <hr>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
  </div>
</section>