<section class="mt-4" id="user">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {{!-- user profile --}}
        <div class="text-center">
          <div class="mb-2">
            <img src="{{{user.avatar}}}" alt="avatar" style="height:300px;width:300px">
            <h1 class="mb-2">{{{ user.name }}}</h1>
          </div>
          <p class="mb-2">{{{user.introduction}}}</p>
          <ul class="list-group mb-2">
            <li class="list-group-item">Tweets {{{user.Tweets.length}}}</li>
            <li class="list-group-item">Following {{{user.Followings.length}}}</li>
            <li class="list-group-item">Follower {{{user.Followers.length}}}</li>
            <li class="list-group-item">like</li>
          </ul>
          {{!-- button --}}
          <div class="mb-4">
            {{#if isCurrentUser}}
              <a href="/users/{{{user.id}}}/edit" class="btn btn-outline-primary">Edit Profile</a>
            {{else}}
              {{#if isFollowed}}
                <form action="/followships/{{{user.id}}}?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
              {{else}}
                <form action="/followships" method="POST">
                  <input type="number" name="id" value="{{{user.id}}}" class="d-none">
                  <button type="submit" class="btn btn-primary">Follow</button>
                </form>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        {{!-- tweets card --}}
        {{#each tweets}}
          <div class="card mb-3">
            <div class="row">
              <div class="col-auto">
                <img class="img-responsive center-block" src="https://picsum.photos/id/237/200/300"
                  style="height:150px;width:150px">
              </div>
              <div class="col">
                <div class="card-block px-2">
                  <a href="/users/{{{../user.id}}}/tweets">
                    <span class="pt-2">{{{../user.name}}}</span>
                  </a>
                  <p>{{{this.description}}}</p>
                  <a href="/tweets/{{{this.id}}}/replies" class="mr-3">Reply({{{this.Replies.length}}})</a>
                  <a href='#' class="">Like(0)</a>
                </div>
              </div>
              <hr>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
  </div>
</section>